<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>853959956689-fdjakkst62pes36inechumk20f2tbng4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.853959956689-fdjakkst62pes36inechumk20f2tbng4</string>
	<key>API_KEY</key>
	<string>AIzaSyD4TToB6E1K5ghSIgLw0kxFVxPPbG5Dxqc</string>
	<key>GCM_SENDER_ID</key>
	<string>853959956689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tvc.travelingSocialApp</string>
	<key>PROJECT_ID</key>
	<string>tc-social-6b04b</string>
	<key>STORAGE_BUCKET</key>
	<string>tc-social-6b04b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:853959956689:ios:da86b0175b79af74248df0</string>
</dict>
</plist>